html {
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 8em;
  background-color: #01303c;
  font-family: monospace, sans-serif;
}

a {
  color: #55ff93;
}

h1 {
  color: #fbfbfb;
  margin-left: 1em;
}

h2 {
  color: #fbfbfb;
  margin-left: 1em;
  font-size: 2em;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: none;
}

li {
  color: #fbfbfb;
  height: 3em;
}

img {
  -webkit-transition: width 1s ease, height 1s ease;
  transition: width 0.2s ease, height 0.2s ease;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.3em;
}

a.button:hover {
  color: #000000;
  background-color: #55ff93;
  cursor: pointer;
}

a.icon-button {
  height: 10.5em;
  width: 11em;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0em;
  margin: 0 3.3em 0 3.3em;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.3em;
  justify-content: center;
  position: relative;
}

.header {
  color: #fbfbfb;
  width: 100%;
  margin: 0px;
  padding: 24px;
  position: fixed;
  padding-top: 24px;
  font-size: 56px;
  background-color: #01303c;
  box-shadow: 0px 5px 10px 0px #222020;
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: 100;
}

.info {
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;
  height: 400px;
  color: #fbfbfb;
  width: 38em;
}

.project-info {
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;
  color: #fbfbfb;
}

.right {
  margin-left: auto;
  margin-right: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 750px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 2em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
    brightness(104%) contrast(97%);
  margin-right: 0.5em;
  z-index: 0;
}

.arrow {
  width: 10em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
    brightness(104%) contrast(97%);
  margin-right: 0.5em;
  z-index: 0;
}

.sql {
  width: 3em;
  margin-left: -0.5em;
  margin-top: -0.3em;
  margin-right: 0;
}

#page {
  padding-top: 150px;
}

#me {
  margin-right: 32px;
}

#projects,
#contactMe {
  margin-top: 3em;
}
